
<div class="container">
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
    <div class="carousel-item active">
      <img [src]="bild2" class="d-block w-25">
    </div>
    <!--HIER SOLLTE ! BILD VON DIR EIN BILD VON MIR UND UNSER LOGO REIN DANKE XOXO-->
    <div class="carousel-item">
      <img [src]="bild3" class="d-block w-25" >
    </div>
    </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  </div>

</div>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<div class="aboutus-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus">
                        <h2 class="aboutus-title">nice to <br> meet you</h2>
                        <p class="aboutus-text"> We are Lisa and Tobias, We are the Founders of RetailerGuru. We got to know each other through our joint project. With RetailerGuru we want to make the world a little bit better. Come with us into an innovative future.</p>
                        <p class="aboutus-text"> We make your weekly shopping easier with RetailerGuru . We save on driving distances and thus pay attention to our environment. Unnecessary searches for your favorite products and the disappointment when they are sold out, are now a thing of the past</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="aboutus-banner">
                      <img [src]="bild1" class="images w-100">
                  </div>
              </div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="feature">
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>For our Environment. </h4>
                                    <p>Since the environment is very important to us, we are happy to be able to do our part with our application. In this way we can also offer future generations a world worth living in.</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Trust your Partners</h4>
                                    <p>With our wide-ranging experience in various situations, we are happy to be there for you if there are any problems. Thanks to our solution-oriented work, we have been able to face every task so far.</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Constant Improvement</h4>
                                    <p>We always want to improve our application. In consultation with our customers, we try to adapt to your wishes.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="presentation">
          <h2 class="presentation-title">Projektarbeit 2022/2023</h2>
          <div class="container-fluid">
            <div class="presentation-banner">
              <img [src]="bild1" class="images w-25">
            </div>
          </div>
          <div class="container-fluid">
            <h4 class="Cover">Lisa Alge und Tobias Müller</h4>
          </div>
        </div>
    </div>

    <div class="container-fluid">
      <div class="Inhalt">
        <h3>Inhalt <br></h3>
        <h4>Vorstellung <h5>Lisa <br>Tobias</h5><br>
           Produkt <br> <h5>Idee <br>Zusammenfassung <br>Was wurde verwendet</h5>
          Lesson lerned</h4>
      </div>
    </div>

    <div class="container-fluid">
      <div class="introducelisa">
        <h3>Lisa <br></h3>
        <h4>Meine Meilensteine... <br>
        <h5>Musikmittelschule <br>HTL <br>Lehre zur Maschinenbautechnikerin <br> Matura</h5>
          Vorkenntnisse <br>Lesson Learned</h4>
      <div class="introducetobias">
        <h3>Tobias <br></h3>
        <h4>Meine Meilensteine... <br>
          <h5>Mittelschule <br>Polytechnische Schule <br> Lehre zum Informatiker <br> Matura</h5>
        Vorkenntnisse <br> Lesson Learned</h4>
      </div>
      </div>
    </div>




