<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<div class="aboutus-section" style="height: 1080px;">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus">
                        <h2 class="aboutus-title">nice to <br> meet you</h2>
                        <p class="aboutus-text"> We are Lisa and Tobias, We are the Founders of RetailerGuru. We got to know each other through our joint project. With RetailerGuru we want to make the world a little bit better. Come with us into an innovative future.</p>
                        <p class="aboutus-text"> We make your weekly shopping easier with RetailerGuru . We save on driving distances and thus pay attention to our environment. Unnecessary searches for your favorite products and the disappointment when they are sold out, are now a thing of the past</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="aboutus-banner">
                      <img [src]="bild1" class="images w-100">
                  </div>
              </div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="feature">
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>For our Environment. </h4>
                                    <p>Since the environment is very important to us, we are happy to be able to do our part with our application. In this way we can also offer future generations a world worth living in.</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Trust your Partners</h4>
                                    <p>With our wide-ranging experience in various situations, we are happy to be there for you if there are any problems. Thanks to our solution-oriented work, we have been able to face every task so far.</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Constant Improvement</h4>
                                    <p>We always want to improve our application. In consultation with our customers, we try to adapt to your wishes.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div>
  <div class="container-fluid" style="height: 1080px;">
     <div class="presentation">
        <div class="text-success">
          <h1 class="text-center">Projektarbeit 2022/2023</h1>
        </div>
          <div class="container-fluid">
            <div class="presentation-banner">
              <div class="text-center">
              <img [src]="bild1" class="images w-50">
             </div>
           </div>
          </div>
            <div class="container-fluid">
             <h3 class="text-center">Lisa Alge und Tobias Müller</h3>
            </div>
      </div>
   </div>

<div class="container-fluid" style="height: 1080px;">
  <div class="Inhalt">
    <div class="text-center">
      <div class="text-success">
        <h1>Inhalt <br></h1>
      </div>
        <h2>Vorstellung <h3>-Lisa <br>-Tobias</h3>
         Produkt <br> <h3>-Idee <br>-Was wurde verwendet</h3>
         Lesson lerned <br>Probleme <br>Live Vorstellung</h2>
    </div>
  </div>
</div>

<div class="container-fluid" style="height: 1080px;">
  <div class="text-center">
    <div class="introducelisa">
      <div class="text-success">
        <h1>Lisa <br></h1>
      </div>
        <h2>Meine Meilensteine... <br>
        <h3>-Musikmittelschule <br>-HTL <br>-Lehre zur Maschinenbautechnikerin <br>-Matura</h3>
          Vorkenntnisse <br>Lesson Learned</h2>
          <div class="introducetobias">
            <div class="text-success">
              <h1>Tobias <br></h1>
            </div>
            <h2>Meine Meilensteine... <br>
            <h3>-Mittelschule <br>-Polytechnische Schule <br>-Lehre zum Informatiker <br>-Matura</h3>
            Vorkenntnisse <br> Lesson Learned</h2>
         </div>
    </div>
  </div>
</div>

<div class="container-fluid" style="height: 1080px;">
  <div class="text-success">
    <div class="text-center"><h1>Produkt Idee</h1></div>
  </div>
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col col-lg-2">
          <h2>Effizienz</h2>
        </div>
          <div class="col-md-3"></div>
            <div class="col col-lg-2"><h2>Fahrwege</h2></div>
         </div>
            <div class="row justify-content-md-center">
              <div class="col col-lg-2"><h2>Zeitmanagment</h2></div>
        <div class="col-md-3"></div>
        <div class="col col-lg-2"><h2>Organisation</h2></div>
      </div>
          <div class="text-center">
          <img [src]="bild2" class="images w-25">
          </div>
      </div>
    </div>

  <div class="container-fluid" style="height: 1080px;">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="text-success">
            <div class="text-center"><h1>Was <br><br>wurde <br><br>verwendet?</h1></div>
          </div>
        </div>
          <div class="col">
            <div class="text-center"><h2><br>Entity Framework Core <br> JWT <br> Bootstrap <br> Mediator</h2></div>
         </div>
        </div>
      </div>
    </div>


  <div class="container-fluid" style="height: 1080px;">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="text-success">
            <div class="text-center"><h1>Probleme <br>Lesson Learned</h1></div>
          </div>
        </div>
        <div class="col">
          <div class="text-center">
            <img [src]="bild2" class="images w-25">
          </div>
        </div>
      <div class="col">
        <div class="text-center"><h2> Dynamische Teamgröße <br> Github <br></h2></div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" style="height: 1080px;">
 <div class="text-success">
    <div class="text-center"> <h1>Live Vorstellung</h1></div>
      <div class="container-fluid">
        <div class="presentation-banner">
          <div class="text-center">
            <img [src]="bild1" class="images w-50">
          </div>
        </div>
      </div>
  </div>
</div>
