<br>
<div class="alert alert-info" role="alert">
  <strong>Hello I'm Mr. Info and I'm here to give you nessesary informations about this Page...</strong><br>
  <strong>Attention!</strong> If the chart is not loading the data wait a litle and refresh the page. This is due to a rendering issue witch we havn't figured out until now.<br>
  But we're still working on it.
</div>
<br>
<h2>This weeks searches</h2>
<app-defaultbargraph [productId]="productId"></app-defaultbargraph>
<br>
<hr>
<h2>This weeks verified Sales</h2>
<app-defaultbargraph [productId]="productId" [salesMode]="true"></app-defaultbargraph>

